.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f25;
    height: 70px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #a4b1c1;
}

@media all and (max-width:720px) {
    .footer-content p{
        font-size: 13px;
    }
}