:root{
  --yellow: yellow;
  --pink: #de3bde;
  --grey: #b59cd7;
  --lpink: #c778dd9f
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Roboto Mono,monospace;
  background-color: #272737;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}